// Font familys
$font-family-primary: 'Fira Sans', sans-serif;

// Navbar font colors

$color-primary-navigation: #999999;
$color-secondary-navigation: #222222;

// Navbarcolor
$color-navbar-background: #EEEEEE;