// Font familys
$font-family-primary: 'Fira Sans', sans-serif;

// Navbar font colors

$color-primary-navigation: #30ae4b;
$color-secondary-navigation: #3f2db2;

// Navbarcolor
$color-navbar-background: #361ad5;